<?xml version="1.0"?>
<sdf version="1.9" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:include filename="$(find lab_furniture)/xacro/macros/furniture_macros.xacro"/>

  <xacro:property name="a" value="0.50"/>
  <xacro:property name="b" value="0.40"/>
  <xacro:property name="c" value="2.00"/>

  <xacro:caja_simple model_name="armario" a="${a}" b="${b}" c="${c}" color_r="0.2" color_g="0.2" color_b="0.2"/>
</sdf>
